*{
  margin : 0px;
  padding: 0px;
  outline: none;
}

body{
  background-color: #181818;
  font-family: Arial, Helvetica, sans-serif;
 
}
 .image{
   text-align: center;
 }
#image{
  padding: 3px;
}
.fa-bars,.fa-search{
  margin: 0px 10px;
  color: #f7d00c;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 100%;
  background-color: rgb(29, 29, 29);
 border-top: 3px solid black;
 border-bottom: 3px solid black;
 flex-wrap: wrap;
}
.icon{
  padding: 16px;
  flex-wrap: wrap;
}
.ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.li{
  margin: 0px 25px;
}
.a{
  text-decoration: none;
  text-transform: uppercase;
  color: #f1b81a;
  font-weight: bold;
}

.box-flex{
  display: flex;
  grid-template-columns: auto auto;
  justify-content: center;
  height: 70vh;
  align-items: center;
  grid-column-gap: 150px;
}
.text{
  font-size: 40px;
  color: #f1b81a;
}
.textOne{
 color: #f19b1a;
}

.copy{
  width: 100%;
  height: 20px;
   color: rgb(44, 44, 44); 
   text-align: center;
   font-size: 15px;
}